*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing:border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    background:#bfe5f9;
    height: 125px;
    width: 100%; 
}
nav ul{
    float: right;
    margin-right: 20px;
    margin-top: 50px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 25px;
}
nav ul li a{
    color: #707070;
    font-size: 30px;
    padding: 7px 13px;
    border-radius: 3px;
}
a:hover{
    border: 3px solid #707070;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #707070;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #FBE2F2;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover{
        background: none;
        color:#707070;

    }
    #check:checked ~ ul{
        left: 0;
    }
}

body{
    max-width: auto;
}
@media only screen and (max-width: 400px) {
    .gridcontainer{
        display: grid;
    }

    .gridcontainer{
        display: grid;
        grid-template-areas: 
        "michelle"
        "lyserød"
        "ommig"
        "lyseblå"
        "portfolie";
    }
}

.michelle{
   background-color: #ffffff;
   height: 600px;
   width:auto;
}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.kasse1{
    position: relative;
    float: right;
}
.skøjter{
    position: absolute;
    float: right;
}


.lyserød{
    background-color: #FBE2F2;
    height: 150px;
    width:auto;
    color:#707070;
    font-size: 30px;
    text-align: center;
}
h3{
    color:#707070;
    font-size: 30px;
    text-align: center;
}

.ommig{
    background-color: #ffffff;
    height: 800px;
    width:auto;
}

.lyseblå{
    background-color: #bfe5f9;
    height: 150px;
    width: auto;
    color:#707070;
    font-size: 30px;
    text-align: center;
}

.portfolie{
    background-color: #ffffff;
    height: auto;
    width:auto;
}
#et{
    margin: 55px;
}
#et:hover{
    background-color: #707070;
}
#to{
    margin: 55px;
}
#tre{
    margin: 55px;
}
#fire{
    margin: 55px;
}
#fem{
    margin: 55px;
}
#seks{
    margin: 55px;
}
#syv{
    margin: 55px;
}
#otte{
    margin: 55px;
}

footer {
    text-align: center;
    font-size: 30px;
    padding: 50px;
    background-color: #FBE2F2;
    color: #707070;
    vertical-align: auto;
  }