*{
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing:border-box;
}
    body{
    font-family: 'Indie Flower', cursive, Arial, Helvetica, sans-serif;
}

nav{
    background:#bfe5f9;
    height: 125px;
    width: 100%; 
}
nav ul{
    float: right;
    margin-right: 20px;
    margin-top: 50px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 25px;
}
nav ul li a{
    color: #707070;
    font-size: 30px;
    padding: 7px 13px;
    border-radius: 3px;
}
a:hover{
    border: 3px solid #707070;
    transition: .5s;
}


@media (max-width: 952px){
    nav ul li {
        margin: 0 5px;
    }
    nav ul li a{
        font-size: 16px;
    }
}



.michelle{
    display: inline-flex;
   background-color: #ffffff;
   height: auto;
   width:auto;
   align-items: center;
}
#fokus h1{
    color: #707070;
    font-size: 60px;
    font-family: 'Parisienne', cursive, Arial, Helvetica, sans-serif;
    text-align: center;
}
#fokus p{
    color: #707070;
    font-size: 40px;
    font-family: 'Indie Flower', cursive, Arial, Helvetica, sans-serif;
    text-align: center;
}

.kasse1{
    margin: 40px;
    height: 637px;
    width: 786px;
}


.lyserød{
    background-color: #FBE2F2;
    height: 150px;
    width:auto;
    color:#707070;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
h3{
    color:#707070;
    font-size: 30px;
    text-align: center;
}

.ommig{
    display:flex;
    background-color: #ffffff;
    height: auto;
    width:auto;
    align-items: center;
}
.mig{
    padding: 50px;
    width: auto;
    height: auto;
}
.tekst{
    color: #707070;
    font-family: 'Indie Flower', cursive, Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    float: right;
    
}

.lyseblå{
    background-color: #bfe5f9;
    height: 150px;
    width: auto;
    color:#707070;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.portfolie{
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    height: auto;
    width:auto;
    align-items: center;
}

.image-container {
    position: relative;
    margin: 55px;
  }
  
  .base-image {
    width: 300px;
    height: auto;
  }
  
  .overlay-image {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 245px;
    height: 245px;
  }
  
  .text-overlay {
    width: 230px;
    height: 230px;
    position: absolute;
    top: 140px;
    left: 150px;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }

  .text-overlay:hover{
    opacity: 1;
  }

  .beskriv{
    font-size: 25px;
    font-family: 'Indie Flower', cursive, Arial, Helvetica, sans-serif;
    position: absolute;
    color: #ffffff;
    text-align: center;
    
  }


.kontakt{
    display:flex;
    position: relative;
    background-color: #ffffff;
    height: auto;
    width:100%;
}
.kontakt img{
    height: auto;
    width: 93%;
    margin: 50px;
}
.kontakt-tekst {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .kontakt-tekst p{
    font-size: 30px;
    color: #ffffff;
  }
  @media (max-width: 900px) {
    .kontakt-tekst{
        top: 70%;
        left: 50%;
    }
    .kontakt-tekst p{
      font-size: 10px;
      transform: translate(-50%, -70%);
    }
  }

footer{
    display: flex;
    font-size: 40px;
    background-color: #FBE2F2;
    color: #707070;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
footer p{
    margin: 50px;
}


  

@media (max-width: 400px) {
    .gridcontainer{
        display: grid;
    }

    .gridcontainer{
        display: grid;
        grid-template-areas: 
        "michelle"
        "lyserød"
        "ommig"
        "lyseblå"
        "portfolie";
    }
}

@media (max-width: 900px) {
     .mig{
        width: 246px;
        height: 288px;

     }
     .tekst{
        font-size: 10px;
        
     }
     p{
        font-size: 15px;
     }
     .kasse1{
        width: 393px;
        height: 318px;

     }
     #fokus h1{
        font-size: 30px;
        
     }
     #fokus p{
        font-size: 15px;
     }
}

